<%- include ('include/header')  %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Welcome Admin </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/user"> Users </a>
        </div>
    </div>
</nav>






<%- include ('include/footer')  %>