<%- include ('include/header')  %>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Welcome dealer </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/car"> Vehiculos </a>
          <a class="nav-item nav-link" href="/profile"> Editar perfil </a>
        </div>
    </div>
</nav>






<%- include ('include/footer')  %>