<%- include ('include/header')  %>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Create </a>

    
  </nav>
  <div class="container">
      <div class="card">
        <div class="card-body">    
          <form action="/create" method = "POST" >
            <div class="form-group">
              <label for="exampleFormControlSelect1">Rol</label>
              <select class="form-control" name="idRol" onclick="showDiv('hidden_div', this)">
                <option value = "1">Admin</option>
                <option value = "2">Dealer</option>
              </select>
            </div>
          <div class="form-group">
            <label for="Email"> Nombre </label>
            <input type="text" class="form-control" name="nombre" >
          </div>
          <div class="form-group">
            <label for="Email"> Email </label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group" id="hidden_div">
            <label for="Edad"> Edad </label>
            <input type="number" class="form-control" name="edad">

            <label for="Edad"> Dealer </label>
            <input type="text" class="form-control" name="dealer">
          </div>         
          
          <div class="form-group">
            <label for="Password"> Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Create user</button>

        </form>
      </div>
    </div>
  </div>



 

<script>
function showDiv(divId, element){
  document.getElementById(divId).style.display = element.value == 2 ? 'block' : 'none'; 
}
</script>

<%- include ('include/footer')  %>